body > section {
	padding: 40px 2em 0;
}

/* ------------- */
/*  GRID         */
/* ------------- */

.nwayoext-styleguide-row::after {
	display: table;
	clear: both;
	content: '';
}

.nwayoext-styleguide-row {
	position: relative !important;
	margin: 0 0 1rem;
	max-width: 100%;
	padding: 2rem;
	border: 2px solid #dddddd;
}

.nwayoext-styleguide-row.no-border {
	border: 0;
}

.nwayoext-styleguide-cell {
	float: left;
	padding-bottom: 1rem;
	width: 100%;
}

.nwayoext-styleguide-cell.with-spacing {
	padding-right: .5rem;
}

@media screen and (min-width: 900px) {
	.nwayoext-styleguide-cell.by2 {
		width: 50%;
	}
	.nwayoext-styleguide-cell.by3 {
		width: 33.33%;
	}
	.nwayoext-styleguide-cell.by4 {
		width: 25%;
	}
	.nwayoext-styleguide-cell.by5 {
		width: 20%;
	}
	.nwayoext-styleguide-cell.by6 {
		width: 16.66%;
	}
}

/* ------------- */
/*  REVERSE      */
/* ------------- */

.nwayoext-styleguide-ondark {
	padding: .5rem;
	background-color: #333333;
}

/* ------------- */
/*  TEXTS        */
/* ------------- */

.nwayoext-styleguide-intro > h1 {
	margin: 0;
	padding: 1rem 0;
	color: #2b2d3c;
	font-size: 2rem;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

.nwayoext-styleguide-content > h2 {
	margin: 1rem 0;
	padding-top: 1rem;
	color: #333333;
	font-size: 1.6rem;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

.nwayoext-styleguide-content > h3 {
	margin: 1rem 0;
	padding-top: 1rem;
	color: #333333;
	font-size: 1.4rem;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-weight: bold;
}

.nwayoext-styleguide-content > h4 {
	margin: 1rem 0;
	padding-top: 1rem;
	color: #333333;
	font-size: 1.2rem;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-weight: bold;
}

/* ------------- */
/*  SWATCHES     */
/* ------------- */

.nwayoext-styleguide-palette-item > span {
	display: block;
	padding: 3px;
}

.nwayoext-styleguide-palette-item > span.name {
	font-size: 1rem;
	font-weight: 600;
	text-transform: capitalize;
}

.nwayoext-styleguide-palette-item > span.hex {
	font-size: .9rem;
	text-transform: lowercase;
}

.nwayoext-styleguide-palette-item > span.color {
	display: block;
	height: 90px;
}
